body{
    margin:0;
    font-family:Poppins,sans-serif;
    background:#f8f7f3;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#184D47,#2D6A4F);
}

.glass{
    width:90%;
    max-width:500px;
    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(10px);
    border-radius:20px;
    padding:40px;
    text-align:center;
    color:white;
}

h1{
    font-size:42px;
    margin:20px 0;
}

h2{
    color:#184D47;
    margin-bottom:15px;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 30px;
    background:white;
    color:#184D47;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
}
